<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{#if noindex }}
  <meta name="robots" content="noindex">
  {{/if}}
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:image" content="{{siteUrl}}{{ogpImage}}" />
  <meta property="og:url" content="{{siteUrl}}{{pageUrl}}" />
  <meta property="og:type" content="article" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:description" content="{{description}}" />
  <meta name="twitter:image" content="{{siteUrl}}{{ogpImage}}" />
  <title>{{title}}</title>
  <link rel="shortcut icon" href="/static/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/hack.css">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{siteUrl}}/rss.xml" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rough.js/3.1.0/rough.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rough-notation/0.5.1/rough-notation.iife.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var logos = document.getElementsByClassName("blog-logo");
      if (logos.length !== 0) {
        for (var i = 0; i < logos.length; i++) {
          var roughness = Math.pow(Math.random() * Math.random() * Math.random(), 0.5) * 2.2;
          var rc = rough.svg(logos[i]);
          var circle = rc.circle(60, 55, 79, {
            roughness: roughness,
            stroke: "#111",
            fill: "#ff2e88",
            strokeWidth: 3,
            fillWeight: 3,
            fillStyle: 'hachure'
          });
          var polygon = rc.polygon([
            [155, 20.71],
            [115, 90],
            [195, 90]
          ], {
            roughness: roughness,
            stroke: "#111",
            fill: "#ffd936",
            strokeWidth: 3,
            fillWeight: 3,
            fillStyle: 'hachure'
          });
          var rectangle = rc.rectangle(220, 20, 70, 70, {
            roughness: roughness,
            stroke: "#111",
            fill: "#2e6eff",
            strokeWidth: 3,
            fillWeight: 3,
            fillStyle: 'hachure'
          });
          logos[i].append(circle);
          logos[i].append(polygon);
          logos[i].append(rectangle);
        }
      }
    });
  </script> 
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const links = document.querySelectorAll('.content a, .prevnext a');
      links.forEach(link => {
        const annotation = RoughNotation.annotate(link, {
          type: 'underline',
          color: 'rgba(255, 217, 54, 0.6)',
          strokeWidth: 2,
          padding: 0,
          iterations: 2,
          animate: false,
        });
        annotation.show();
      });
    });
  </script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5NKZYFVQBZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-5NKZYFVQBZ');
  </script>
</head>
